#leftPane{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #154687, #10afd7);
}

#topPane{

    -fx-background-color: #2b2e3c;
    -fx-effect: dropshadow(gaussian, #858485, 7,0.01,-2, 5);
}

.popupPane{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, #858485, 7,0.01,-2, 5);
    -fx-border-color: #0e7c74;
}

#topPane .glyph-icon{

    -fx-fill: #cdcdcd;
}

#leftPane .button{
    -fx-background-color: none;
    -fx-effect: none;
    -fx-text-fill: white;
}

#leftPane #titlebtn{

    -fx-background-color: #154687;
    -fx-effect: dropshadow(gaussian, #133667, 7, 0.01,-2, 5);
}

#topbar{

    -fx-background-color: #154687;
    -fx-effect: dropshadow(gaussian, #133667, 7,0.01,-2, 5);
}

#leftPane .button:hover{
    -fx-background-color: #134a79;
    -fx-text-fill: #ebeef3;
    -fx-font-size: 23px;
}

#leftPane .button:hover .glyph-icon{

    -fx-fill: #ebeef3;
}

#viewPatientPane{
    -fx-border-width: 1px;
    -fx-border-color: #6d6d6d;
    -fx-background-color: #8bcbe9;
    -fx-opacity: 70% ;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-color: white;
    -fx-font-size: 30px;
}

.date-picker > .arrow-button {
    -fx-background-color: none;
}

.jfx-radio-button {
    -jfx-selected-color: #134a79;
    -jfx-unselected-color: #134a79;
}

/*.text-field, .text-area .content{*/
/*-fx-background-color:   rgba(255,255,255,0.75),*/
/*linear-gradient(to top left, #c2c2c2 0%, #dddddd 100%);*/
/*-fx-background-insets: 0, 1;*/
/*-fx-background-radius: 9px;*/
/*-fx-border-radius: 9px;*/
/*-fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.75),1,0,1,1);*/
/*-fx-font-family: "verdana";*/
/*-fx-font-size: 18px;*/

/*}*/

.whiteTextArea .content{
    -fx-background-color:   rgba(255,255,255,1);
    -fx-background-insets:none ;
    -fx-background-radius: 1px;
    -fx-border-radius: 1px;
    -fx-effect: none;
    -fx-font-family: "verdana";
    -fx-font-size: 18px;
}

.button{
    -fx-background-color: none;
    -fx-text-fill: #0e4f75;
    -fx-border-color: #0e4f75;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
}

.button:hover{
    -fx-background-color: #0e4f75;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 30px;

}

.button-blue{
    -fx-padding: 5px;
    -fx-background-color: none;
    -fx-text-fill: #0e4f75;
    -fx-border-color: #0e4f75;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
}

.button-blue:hover{
    -fx-background-color: #0e4f75;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 30px;

}

#leftPane .button-blue:hover{
    -fx-background-color: #0e4f75;
    -fx-text-fill: #ebeef3;
    -fx-font-size: 23px;
}

.button-red{
    -fx-padding: 5px;
    -fx-background-color: none;
    -fx-text-fill: #c80002;
    -fx-border-color: #c80002;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
}

.button-red:hover{
    -fx-background-color: #c80002;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 30px;

}

#leftPane .button-red:hover{
    -fx-background-color: #c80002;
    -fx-text-fill: #ebeef3;
    -fx-font-size: 23px;
}

.button-green{
    -fx-padding: 5px;
    -fx-background-color: none;
    -fx-text-fill: #00be13;
    -fx-border-color: #00be13;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
}

.button-green:hover{
    -fx-background-color: #00be13;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 30px;

}

#leftPane .button-green:hover{
    -fx-background-color: #00be13;
    -fx-text-fill: #ebeef3;
    -fx-font-size: 23px;
}


.tab .tab-label {
    -fx-alignment: CENTER;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-background-color: #0d1675;
}

.accept-btn{
    -fx-background-color: #22a412;
    -fx-text-fill: white;
}

.accept-btn:hover{
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%, #13420f, #0e7c74);
    -fx-text-fill: whitesmoke;

}

.cancel-btn{
    -fx-background-color: #c13220;
    -fx-text-fill: white;
}

.cancel-btn:hover{
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%, #4f0905, #6a400c);
    -fx-text-fill: whitesmoke;

}

#leftPane .logout-btn{
    -fx-background-color: #eba108;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

#leftPane .logout-btn:hover{
    -fx-background-color: #eb7715;
    -fx-font-size:16px;
}

.glyph-icon{

    -fx-fill: white;

}

.button:hover .glyph-icon{

    -fx-fill: #ebeef3;
}
